@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#cover{
	background-image: url("./img/fundo.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

#cover2{
	background-image: url("https://www.teahub.io/photos/full/12-126339_wallpaper-of-video-game-the-last-of-us.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
main{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

::selection {
    background-color: rgb(82, 82, 82);
    color: rgb(249 115 22);
}

::-moz-selection {
    background-color: rgb(82, 82, 82);
    color: rgb(249 115 22);
}


.swiper {
	width: 100%;
	height: 105vh;
	background: #000;
  }

  .swiper-slide {
	font-size: 18px;
	color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px;
  }

  .parallax-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 130%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
  }

.logo{
	width: 150px;
} 
